{% include 'blogs/layout.html' %}
<!--  -->

<div class="container">
  <a href="/" class="btn center-align">Go back</a>
  <a href="/blog/update/{{ blog.id }}/" class="btn center-align blue">Update</a>
  <form
    onsubmit="return confirm('Are you sure you want delete this blog?')"
    style="display: inline;"
    action="/blog/delete/"
    method="POST"
  >
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ blog.id }}" />
    <button id="delete-blog" class="btn center-align red">
      Delete
    </button>
  </form>
</div>

{% block body %}
<!--  -->
<div class="container ">
  <div class="card grey lighten-3 ">
    <h4 class="center-align card-header">{{ blog.title }}</h4>
    <div class="card-action">
      <span>
        Author: <strong> {{ blog.author }} </strong>
      </span>
    </div>
    <div class="card-content ">
      <span>{{ blog.body }}</span>
    </div>
    <!--  -->
  </div>
</div>

{% endblock %}
